.Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Character label,
.Character input,
.Character button {
  margin: 20px auto;
  display: block;
}

.Character label {
    text-align: center;
    font-size: 40px;
    color: darkgreen;
}

.Character input {
    width: 300px;
    height: 27px;
    border: none;
    border-style: none;
    text-align: center;
}

.Character input:focus {
    outline-color: 	#3CB371
}

.Character button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    background: #3CB371;
    color:#fff;
    cursor: pointer;
    outline-style: none;
    border: 0;
    font-size: 22px;
}

.Character button:hover {
    opacity: 0.9;
}

.Img {
   display: flex;
   justify-content: center;
}