.Navbar {
  display: flex;
  box-sizing: content-box;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  padding: 10px;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.Navbar div ul {
  width: 100%;
  display: flex; /* use flexbox to align the inputs on same row */
}

.Navbar ul li {
  display: flex; /* use flexbox to align the labels on same row than the inputs */
  align-items: center; /* align the items vertically */
  list-style: none;
  margin-right: 100px;
}

.Navbar ul li input {
  min-width: 120px; /* specify react-select component's width */
}

.Navbar label {
  box-sizing: border-box;
  border-radius: 8px;
  margin: 10px;
  margin-right: 30px;
  background-color: lightgrey;
  color: darkgreen;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}
