.Navbar{
    display: flex;
    height: 52px;
    box-sizing: content-box;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.Navbar div ul {
    width: 100%;
}

.Navbar ul li {
    display: inline;
    list-style: none;
}

.Navbar label {
    border-radius:8px;
    margin:10px;
    background-color: lightgrey;
    color:darkgreen;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}