.Random {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.Random label {
    display: block;
    margin:2%;
    font-size: 18px;
    color: #000000a9;
    font-weight: bold;
    letter-spacing: 1.3px;
}

.Random button {
    font-size:15px;
    font-weight: bold;
    width:15%;
    background-color: white;
    color:darkgreen;
    border:0px;
}

.Random button:hover {
    cursor: pointer;
}

.Random button:focus {
    outline:none;
}

.Center {
    width: 15%;
    margin: 0 auto;
}